* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
  }

  .topImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("Images/Denzel.jpg");

 
  height: 30em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topBack {
    background-image: linear-gradient(#000000, #434343);
  height: 30em;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; 
  border-radius:0 0% 10% 10%;
}

#denzelNameText {
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 10px;
}

#homeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 50px;
  background: #434343;
  border: 2px solid rgba(33, 68, 72, 0.59);
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  text-decoration: none;
  margin-bottom: none;
  margin-top: 4em;
  font-size: 20px;
  padding-left: 1em;
  background: linear-gradient(top, #434343, #434343);
  border-radius: 50px 0px 50px 0px;
  box-shadow: 0 8px 0 lightslategray;
  position: fixed;
  top: 38em;
}

@media only screen and (max-width: 1000px){
#homeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 70px;
  background: #434343;
  border: 2px solid rgba(33, 68, 72, 0.59);
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  text-decoration: none;
  margin-bottom: none;
  margin-top: 4em;
  font-size: 20px;
  padding-left: 1em;
  background: linear-gradient(top, #434343, #434343);
  border-radius: 50px 0px 50px 0px;
  box-shadow: 0 8px 0 lightslategray;
  position: fixed;
  top: 70em;
}
}
#homeButton img {
  padding-right: 1em;
}

#denzelTagText {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 6px;
}

.topText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  color: white;
  MARGIN-LEFT:6EM;
}

#feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5em;
  margin-top: 6em;
  flex-wrap: wrap;
  box-shadow: none;
}

#feedback img {
  padding-top: 4em;
}

.topList {
  display: flex;
  flex-direction: row;
  justify-content: space-AROUND;
}


.topList ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.topList ul h3 {
  font-size: 30px;
  letter-spacing: 6px;
}

.topList ul li {
  font-size: 20px;
}

.topList span {
  font-size: 25px;
  color: #ffffcc;
}

#playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#playlist img {
  MARGIN-top: 2em;
}

  body {
    background: #414040;
    font-family: Georgia, serif;
    color: #999999;
    font-size: 14px;
  }

 

  #playlist img:HOVER {
    box-shadow: rgba(0, 0, 0, 0.40) 0px 54px 55px, rgba(0, 0, 0, 0.40) 0px -12px 30px, rgba(0, 0, 0, 0.40) 0px 4px 6px, rgba(0, 0, 0, 0.40) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  a {
    color: #ffffcc;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
  }
  
  a:hover,
  a.selected {
    color: #DCCBCB;
  }
  
  h1,
  h2,
  h4,
  h5,
  h6 {
    text-align: center;
    color: #ccc;
    text-shadow: #000 1px 1px 2px;
    margin-bottom: 5px;
  }
  
  h1 {
    font-size: 18px;
  }
  
  h2 {
    font-size: 14px;
  }
  
  .sociales {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #timeline {
    width: 970px;
    height: 500px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('../images/dot.gif') left 45px repeat-x;
  }
  
  #dates {
    width: 800px;
    height: 60px;
    overflow: hidden;
  }
  
  #dates li {
    list-style: none;
    float: left;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background: url('../images/biggerdot.png') center bottom no-repeat;
  }
  
  #dates a {
    line-height: 38px;
    padding-bottom: 10px;
  }
  
  #dates .selected {
    font-size: 38px;
  }
  
  #issues {
    width: 800px;
    height: 350px;
    overflow: hidden;
  }
  
  #issues li {
    width: 800px;
    height: 500px;
    list-style: none;
    float: left;
  }
  
  #issues li.selected img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  
  #issues li img {
    float: left;
    margin: 10px 30px 10px 50px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    /* IE 8 */
    
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
    /* IE 6 & 7 */
    
    zoom: 1;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }
  
  #issues li h1 {
    color: #f4f4f4;
    font-size: 48px;
    margin: 20px 0;
    text-shadow: #000 1px 1px 2px;
    text-align: left;
    padding-left: 50px;
  }
  
  #issues li p {
    font-size: 14px;
    margin-right: 50px;
    margin-left: 50px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
  }
  
  #grad_left,
  #grad_right {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
  }
  
  #grad_left {
    left: 0;
    background: url('../images/grad_left.png') repeat-y;
  }
  
  #grad_right {
    right: 0;
    background: url('../images/grad_right.png') repeat-y;
  }
  
  #next,
  #prev {
    position: absolute;
    top: 0;
    font-size: 70px;
    top: 170px;
    width: 22px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
  }
  
  #next:hover,
  #prev:hover {
    background-position: 0 -76px;
  }
  
  #next {
    right: 0;
    background: #f4f4f4;
    border-radius: 100%;
  }
  
  #prev {
    left: 0;
    background: #f4f4f4;
    border-radius: 100%;
  }
  
  #next.disabled,
  #prev.disabled {
    opacity: 0.2;
  }
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  footer img{
    padding:3em;
  }