@font-face {
    font-family: 'Helvetica';
   src: url('helvetica.eot');
   src: url('helvetica.eot?iefix') format('eot'),
    url('helvetica.woff') format('woff'),
    url('helvetica.ttf') format('truetype'),
    url('helvetica.svg#helvetica') format('svg');
   font-weight: normal;
   font-style: normal;
    }

    * {
        font-family: Helvetica, sans-serif;
    }

    #top {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    #button {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
    }

    button {
        border: 4 4 solid cornsilk;
        background-color: rgb(7, 7, 7);
        max-width: 20em;
        min-width: 10em;
        border-radius: 10%;
        color: gainsboro;
    }

    button:hover {
            box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color:rgba(0, 0, 0, 0.19);
    }

    #denzel {
        display: flex;
        align-content: center;
        min-width: fit-content;
        border-radius: 47%;
        padding-top: 5em;
        filter: grayscale(100%);
    }

    .topList {
        list-style-type: none;
    }

    #button {
        display: flex;
        align-content: center;
    }
    #heady {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        color: white;
    }

    h1 {
        font-size: 5em;
        padding: 1px;
    }

    h2 {
        font-size: 3em;
        padding: 1px;
    }

    #projImg {
        max-width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1em;
    }

    #projects {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        align-content: space-around;
    }

    #projImg:hover {
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    #footimg {
        padding: 1.2em;
        width:35px;
    }

    footer {
        background-color: rgba(0, 0, 0, 0.2);
    }
    footer ul{
        display: flex;
  flex-direction: row;
  justify-content:center;
  align-content:center;
  list-style-type: none;
    }

    footer ul li {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        text-align: center;
        font-weight: bold;
    }

    footer ul li:hover {
            box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
