* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

header ul li{
  list-style-type: none;
}

header h3 {
  font-style: oblique;
}

#button {
  border: 2px solid black;
  text-align: center;
  background-color: rgb(5, 5, 5);
  box-shadow: 2px 2px #888888;
  cursor:pointer;
  color: white;
}

container {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.indi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10%;
  cursor: pointer;
}

.indi img {
  border-radius: 10%;
}

.indi span {
  text-align: center;
  height: 3em;
}

#title {
  display:flex;
  margin-left: 5em;
  flex-wrap: wrap;
}

#titlefirst {
  font-size: x-large;
  font-weight: 350;
}
#titlesecond {
  font-size: x-large;
  font-weight: 800;
}

footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

li img {
  width:10%;
  
}
